---
import { TypographyBlockquote, TypographyH3, TypographyUL } from '@/components/typography';
import AnchorText from '@/components/typography/anchor-text';
import BodyText from '@/components/typography/body-text';
import MdxLayout from '@/layouts/MdxLayout.astro';

const meta = {
  title: 'About Parker',
  url: 'https://parkerlandon.com/about',
  ogImageUrl: 'https://parkerlandon.com/default-og-image.png',
};
---

<MdxLayout meta={meta}>
  <BodyText>Hey, I'm Parker Landon {"\u{1F44B}"}</BodyText>

  <BodyText>
  I'm currently working as a Fullstack Software Engineer at Smartsheet.
  </BodyText>

  <BodyText>
  Here's a timeline of where I've been and what I'm up to:
  </BodyText>

  <TypographyH3>2026</TypographyH3>
  <BodyText>Currently working on <a href="https://habithatchery.com" target="_blank">
      <AnchorText>Habit Hatchery</AnchorText></a>. Started making YouTube videos again.</BodyText>

  <BodyText>Quote for the year:</BodyText>


  <TypographyH3>2025</TypographyH3>
  <BodyText>Heads down as I transitioned into the professional world, improving as a software engineer and, of course, building various side projects. Promoted to mid-level. Moved to Seattle and met amazing, like-minded people in the city.</BodyText>

  <BodyText>Quote for the year:</BodyText>

  <TypographyBlockquote>
    We who cut mere stones must be envisioning cathedrals.
  </TypographyBlockquote>

  <TypographyH3>2024</TypographyH3>
  <BodyText>
    Graduated from Seattle Pacific University with a 4.0 GPA and three majors—Computer Science,
    Applied Mathematics, and Honors Liberal Arts—and a minor in Data Analytics. I published a{" "}
    <a
      href="https://digitalcommons.spu.edu/honorsprojects/218/"
      target="_blank"
    >
      <AnchorText>research paper</AnchorText>
    </a>{" "}
    for my Honors degree about implementing parsers and interpreters in
    Haskell. I returned to Smartsheet, joining the Conversations team as a
    full-time Software Engineer.
  </BodyText>

  <TypographyH3>2023</TypographyH3>
  <BodyText>
    Continued building personal projects and excelling
    in school. I returned to Smartsheet as a summer intern once more, this time
    working on a decoupling project that involved refactoring legacy frontend
    code.
  </BodyText>

  <TypographyH3>2022</TypographyH3>
  <BodyText>
    Began developing a full-stack participation-tracking application
    (called{" "}
    <a href="https://knowted.app" target="_blank"><AnchorText>knowted</AnchorText></a>) for
    professors to use in their courses. This web application integrates with
    the Canvas Learning Management System to streamline student participation
    tracking for course instructors. You can read more about this project in my{" "}
    <a href="/portfolio"><AnchorText>portfolio section</AnchorText></a>.
  </BodyText>

  <BodyText>
    After applying to some 100
    applications and several interviews, I landed a software engineering
    internship with Smartsheet. Spent the summer working with PMs, designers, UX researchers, and other
    engineers to design and implement a solution based on user stories and
    requirements. The experience facilitated me working with every layer in the
    tech stack, from the React/TypeScript frontend to the Java backend and
    MySQL database. Ultimately, the internship confirmed my passion for software
    engineering.
  </BodyText>

  <TypographyH3>2021</TypographyH3>
  <BodyText>
    Continued work as an intern for egghead.io,
    taking on GitHub issues, contributing to the site, and reviewing
    courses. Led my own Portfolio Project Club iteration, this time
    focusing on state management in React. Grew more confident as a web developer, and left feeling ready to take on large-scale
    projects and more demanding developer responsibilities.
  </BodyText>

  <TypographyH3>2020</TypographyH3>
  <BodyText>
    Started studying Computer Science at Seattle Pacific University. Amid the strange pandemic times, I managed to stay busy. I participated in a Portfolio Project Club hosted by
    egghead. Each member designed and built a
    web project that would make for an impressive portfolio piece. I built an
    app called{" "}
    <a href="https://github.com/LordPrkr/tends" target="_blank"><AnchorText>tends</AnchorText></a>{" "}
    that simplified the tracking of quantities (e.g., calories, exercise, etc.)
    for users. I published by own{" "}
    <a
      href="https://egghead.io/blog/saas-applicatiodn-with-next-js-stripe-and-firebase"
      target="_blank"
    >
    <AnchorText>technical case study detailing the experience, which now lives on egghead.io</AnchorText>
    </a>.
  </BodyText>

  <TypographyH3>2019</TypographyH3>
  <BodyText>
    Began programming seriously through an AP Computer
    Science class and eventually started working for{" "}
    <a href="https://egghead.io" target="_blank"><AnchorText>egghead.io</AnchorText></a>{" "}
    reviewing older web development courses hosted on their platform. This work
    reignited my interest in web development and, over the following year, I
    picked up React, TypeScript, and several other technologies.
  </BodyText>

  <TypographyH3>2012</TypographyH3>
  <BodyText>
    When the librarian restricted my computer lab access
    to Flash games like Adventure Quest and Bloons Tower Defense, I decided I would
    make my own Flash game website. I lept down the rabbit hole and began
    learning HTML, CSS, and JavaScript, ultimately to discover that coding
    is not just a means to "flash-game-ends" but is an end in and of itself. In other words, I found coding to be fun.
  </BodyText>

  <BodyText>
    I'm so busy in the best way possible. Every day I code and read to improve
    as an engineer. I'm traveling and enjoying life more than ever. It's not
    easy, but I'm so aligned with this trajectory, and I only want to do more. My
    extra-work career goals for now are,
  </BodyText>

  <TypographyUL>
    <li>Write more</li>
    <li>
      Make more content (check out my{" "}
      <a href="https://www.youtube.com/@prkrlndn" target="_blank"><AnchorText>YouTube</AnchorText></a>)
    </li>
    <li>Build an awesome product</li>
  </TypographyUL>


  <BodyText>Cheers.</BodyText>
</MdxLayout>
